@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 98vh;
  width: 99vw;
  background-color: #f4f4f4;
  font-family: "Roboto", sans-serif;
}

.logoImg {
  width: 75%;
}
/*LOGIN*/
#loginSection {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginCard {
  width: 30rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgb(155, 155, 155);
  border-radius: 1em;
  font-family: "Roboto", sans-serif;
}

#usrInput,
#pswInput {
  width: 20rem;
  height: 3rem;
  text-align: center;
  background-color: #f4f4f4;
  outline: none;
  border: none;
  border-radius: 0.2em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

#logBtn {
  width: 10rem;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 0.2em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

/*MAIN*/

#mainSection {
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
}

.leftNav {
  width: 20%;
  height: 100%;
  background-color: purple;
  padding-left: 5rem;
  padding-top: 3rem;
}

.linkList {
  list-style: none;
  padding-left: 0;
  height: 10rem;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

.navName {
  font-weight: 700;
}

/*ITEMS*/

.items {
  width: 80%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;
  flex-flow: row wrap;
}

.itemCard {
  width: 20%;
  height: 27%;
  background-color: white;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  flex: 1 0 25%;
  flex-grow: initial;
  margin: 2rem;
}
