@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --darker-grey: #333;
  --lighter-grey: rgb(87, 87, 87);
  --semi-white: #f4f4f4;
  --success-green: #79ff8b;
  --cancel-red: #fd7c86;
  --info-blue: #7cc9fd;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #f4f4f4;
  transition: 0.3s;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--semi-white);
  font-family: "Roboto", sans-serif;
  margin: 0;
  position: relative;
}

.logoImg {
  width: 75%;
}
/*LOGIN*/
#loginSection {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#loginSection::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #fff;
  background-image: url("images/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.1);
  filter: blur(10px);
}

.loginCard {
  width: 30rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: var(--lighter-grey);
  border-radius: 1em;
  font-family: "Roboto", sans-serif;
  z-index: 2;
  position: relative;
}

#logBtn {
  width: 50%;
  height: 2.5rem;
  outline: none;
  border: none;
  border-radius: 0.2em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background: none;
  border: 1px solid var(--semi-white);
  transition: 0.3s;
}

.forgotPw {
  font-size: 0.7rem;
  position: absolute;
  top: 14.5rem;
  right: 7.5rem;
}

.regText {
  font-weight: 700;
  font-size: 0.9rem;
}

#regBtn {
  color: #fd7c86;
}

.forgotPw {
  color: #fd7c86;
}

/*REGISTER MODAL*/

#registerModal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.692);
  transition: 0.4s;
}

#logBtn:hover {
  background: var(--success-green);
  color: var(--darker-grey);
}

.logForm {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/*MAIN*/

#mainSection {
  width: 100%;
  height: 100%;
  display: flex;
}

.leftNav {
  width: 10%;
  height: 100%;
  background-color: rgb(87, 87, 87);
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkList {
  list-style: none;
  padding-left: 0;
  height: 15rem;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: #f4f4f4;
}

.linkNav {
  text-decoration: none;
  color: #f4f4f4;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  transition: 0.2s;
  font-weight: 400;
}

.linkNav:hover a {
  color: #fd7c86;
}
.fas,
.far {
  margin-right: 0.8rem;
}

.navName {
  font-weight: 700;
}

/*ITEMS*/

.items {
  width: 90%;
  height: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-flow: row wrap;
  overflow-y: scroll;
}

.itemCard {
  width: 20%;
  height: 35%;
  background-color: rgb(87, 87, 87);
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  flex: 1 0 20%;
  flex-grow: initial;
  margin: 2rem;
  border-radius: 0.3rem;
  filter: drop-shadow(0 0 0.75rem #58585836);
  color: #f4f4f4;
}

.itemCardLine {
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.2;
}

.borrarItem,
.imprimirItem,
.modalSubmitBtn,
.modalCloseBtn,
.modalCancelBtn,
.modalRegisterBtn {
  border: none;
  width: 40%;
  height: 2rem;
  font-weight: 700;
  transition: 0.3s;
}

.borrarItem,
.modalCloseBtn,
.modalCancelBtn {
  background-color: #fd7c86;
}

.imprimirItem,
.modalSubmitBtn,
.modalRegisterBtn {
  background-color: #79ff8b;
}

.borrarItem:hover,
.imprimirItem:hover {
  opacity: 0.7;
}

.itemCardTitle {
  font-weight: 700;
  text-transform: uppercase;
}

.itemCardDesc,
.itemCardOwner {
  font-weight: 300;
}

/*MODAL SECTION*/

#modalSection {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.52);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal {
  width: 40%;
  height: 50%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: #f4f4f4;
}

.modalBtns {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.modalCloseBtn,
.modalSubmitBtn {
  background-color: none;
  outline: none;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 0.3rem;
  width: 40%;
  font-family: "roboto", sans-serif;
  font-weight: 700;
}

.modalCloseBtn:active,
.modalSubmitBtn:active {
  background-color: rgb(255, 219, 219);
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#modalDesc,
#modalTkt,
#modalTitle,
#options,
#usrInput,
#pswInput,
#modalUser,
#modalEmail,
#modalStore,
#optionsReg,
#modalPwd {
  background: none;
  border: none;
  border-bottom: 2px solid #f4f4f4;
  outline: none;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #f4f4f4;
  width: 50%;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    90deg,
    rgba(99, 0, 0, 1) 0%,
    rgba(121, 9, 9, 1) 49%,
    rgba(255, 255, 255, 1) 100%
  );
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: bottom left;
  transition: 0.1s ease;
}

#modalDesc:focus,
#modalTkt:focus,
#modalTitle:focus,
#options:focus,
#usrInput:focus,
#pswInput:focus,
#modalUser:focus,
#modalEmail:focus,
#modalStore:focus,
#optionsReg:focus,
#modalPwd:focus {
  background-size: 100% 2px;
}

option {
  color: #333;
}
