@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --darker-grey: rgb(85, 85, 85);
  --lighter-grey: rgb(228, 228, 228);
  --semi-white: #f4f4f4;
  --success-green: #79ff8b;
  --cancel-red: #fd7c86;
  --info-blue: #6ea0ff;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--darker-grey);
  transition: 0.3s;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--semi-white);
  font-family: "Roboto", sans-serif;
  margin: 0;
  position: relative;
}

.logoImg {
  width: 75%;
}
/*LOGIN*/
#loginSection {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#loginSection::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #fff;
  background-image: url("images/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.1);
  filter: blur(10px);
}

.loginCard {
  width: 25rem;
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 1em;
  font-family: "Roboto", sans-serif;
  z-index: 2;
}

.logForm {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--semi-white);
  border-radius: 1rem;
  position: relative;
}

#logBtn {
  width: 50%;
  height: 2.5rem;
  outline: none;
  border: none;
  border-radius: 0.2em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background: none;
  border: 1px solid var(--info-blue);
  transition: 0.3s;
  cursor: pointer;
}

#logBtn:hover {
  background: var(--info-blue);
  color: var(--darker-grey);
}

.forgotPw {
  font-size: 0.7rem;
  position: absolute;
  top: 16rem;
  right: 6.5rem;
}

.regText {
  font-weight: 700;
  font-size: 0.9rem;
}

#regBtn,
.forgotPw,
.fa-key,
.fa-envelope {
  color: var(--info-blue);
}

.iconInput {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*REGISTER MODAL*/

#registerModal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.692);
  transition: 0.4s;
}

/*MAIN*/

#mainSection {
  width: 100%;
  height: 100%;
  display: flex;
}

.leftNav {
  width: 10%;
  height: 100%;
  background-color: var(--semi-white);
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid var(--lighter-grey);
}

.linkList {
  list-style: none;
  padding-left: 0;
  height: 15rem;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: var(--darker-grey);
}

.linkNav {
  text-decoration: none;
  color: var(--lighter-grey);
  width: 100%;
  padding: 0.5rem;
  text-align: left;
  transition: 0.2s;
  font-weight: 400;
}

.linkNav:hover a {
  color: var(--info-blue);
}
.fas,
.far {
  margin-right: 0.8rem;
}

.navName {
  font-weight: 700;
}

/*ITEMS*/

.items {
  width: 90%;
  height: 100%;
  background-color: var(--semi-white);
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-flow: row wrap;
  overflow-y: scroll;
}

.itemCard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid var(--lighter-grey);
  padding: 1rem;
}

.borrarItem,
.imprimirItem,
.modalSubmitBtn,
.modalCloseBtn,
.modalCancelBtn,
.modalRegisterBtn {
  border: none;
  width: 40%;
  height: 2rem;
  font-weight: 700;
  transition: 0.3s;
  border-radius: 0.2rem;
  cursor: pointer;
}

.borrarItem,
.imprimirItem {
  width: 45%;
}

.itemCardBtns {
  display: flex;
  justify-content: space-evenly;
}

.borrarItem,
.modalCloseBtn,
.modalCancelBtn {
  border: 1px solid var(--darker-grey);
}

.borrarItem,
.modalCloseBtn,
.modalCancelBtn {
  background-color: var(--semi-white);
}

.imprimirItem,
.modalSubmitBtn,
.modalRegisterBtn {
  background-color: var(--info-blue);
}

.borrarItem:hover,
.imprimirItem:hover,
.modalSubmitBtn:hover,
.modalCloseBtn:hover,
.modalCancelBtn:hover,
.modalRegisterBtn:hover {
  opacity: 0.7;
}

.itemCardTitle {
  font-weight: 700;
  text-transform: uppercase;
}

.itemCardDesc,
.itemCardOwner {
  font-weight: 300;
}

.itemCardTitle,
.itemCardTkt,
.itemCardDesc,
.itemCardStatus,
.itemCardStore,
.itemCardOwner,
.itemCardDate,
.itemCardBtns {
  width: 12%;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*MODAL SECTION*/

#modalSection {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.52);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal {
  width: 30%;
  height: 50%;
  background-color: var(--semi-white);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: var(--darker-grey);
  border-radius: 1rem;
}

.modalBtns {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.modalCloseBtn,
.modalSubmitBtn {
  background-color: none;
  outline: none;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 0.3rem;
  width: 40%;
  font-family: "roboto", sans-serif;
  font-weight: 700;
}

.modalCloseBtn:active,
.modalSubmitBtn:active {
  background-color: rgb(255, 219, 219);
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#modalDesc,
#modalTkt,
#modalTitle,
#options,
#usrInput,
#pswInput,
#modalUser,
#modalEmail,
#modalStore,
#optionsReg,
#modalPwd {
  background: none;
  border: none;
  border-bottom: 2px solid var(--lighter-grey);
  outline: none;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--darker-grey);
  width: 80%;
  font-family: "Roboto", sans-serif;
  transition: 0.5s ease-in;
}

#modalDesc:focus,
#modalTkt:focus,
#modalTitle:focus,
#options:focus,
#usrInput:focus,
#pswInput:focus,
#modalUser:focus,
#modalEmail:focus,
#modalStore:focus,
#optionsReg:focus,
#modalPwd:focus {
  border-bottom: 2px solid var(--info-blue);
}

option {
  color: #333;
}
